<div class='span2'>
    <div class='well sidebar-nav'>
        <ul class='nav nav-list'>
            <li class='nav-header'>图片编审</li>
            {foreach from=$categorys key=n item=category}
            <li><a href="#">{$category.name}</a></li>
            {/foreach}
            
            <li class='nav-header'>专题管理</li>
            <li><a href="#">浏览专题</a></li>
            <li><a href="#">新建专题</a></li>
            
            <li class='nav-header'>用户管理</li>
            <li><a href="#">摄影师</a></li>
            <li><a href="#">客户</a></li>
            <li><a href="#">编辑</a></li>
            <li><a href="#">新建用户</a></li>
            
            <li class='nav-header'>功能</li>
            <li><a href="#">购物车</a></li>
            <li><a href="#">图片搜索</a></li>
            <li><a href="#">上传图片</a></li>
            <li><a href="#">下载日志</a></li>
            
            <li class='nav-header'>系统设置</li>
            <li><a href="#">栏目管理</a></li>
            <li><a href="#">标签管理</a></li>
            <li><a href="#">个人信息</a></li>
            
        </ul>
        <hr/>
        <footer><p>&copy;2011 Threepoints</p></footer>
    </div>
</div>