{include file="demo/header.html"}
<body>
<br/>
<br/>
<br/>

<div class="row">
  <div class = 'span8 well offset2'>
      <div class='row-fluid'>
      <div class='span2'><img src='/images/index_logo.png' border='0' width='100px' /></div>
      <div class='span10'>
          <h2>Imagesite</h2>
          <br/>
          <form action='/demo/login' method='post' class="form-search">
          用户名:<INPUT TYPE="text" NAME="user_username" id="user_username"  tabindex="1" size="20" class='input-small'/> 
              密码:<INPUT TYPE="password" NAME="user_password" id="user_password"  tabindex="1" size="20" class='input-small'/>
            <INPUT TYPE="submit" value="登录" name="trylogin" id="trylogin" class='btn'/> 
            <input type="hidden" name="redirect" value="{$redirect}" />
            <span class="label label-warning">{$errMessge}</span>
          </form>
      </div>
      </div>
  </div>

{include file='demo/footer.html'}